@import './variables.scss';

.btn {
  padding: $padding $padding * 2;
  background: $green;
  cursor: pointer;
  border-radius: $radius;
  color: #ffff;
}

.v-catalog__link-to-cart {
  position: absolute;
  top: 10px;
  right: 10px;
  border: 1px solid $grey;
  padding: $padding * 2;
  border-radius: $radius;
  color: black;
}

.v-catalog__link-to-cart:hover {
  background: #e7e7e7;
}
